In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/vincentwakim/Documents/DAFT_0116/module_2/Project_Week_4/Group 4 Elon_s Tweets/ElonTweets(Sentiment) 10-28-22.csv")

print(df.isnull().sum())

print(df.duplicated().sum())

print(df.dtypes)

print(df.describe())
df

Unnamed: 0.2            0
Unnamed: 0.1            0
Unnamed: 0              0
Datetime                0
Tweet Id                0
Text                    0
Username                0
location                0
reply count             0
retweet count           0
like count              0
language                0
Twitter Access Point    0
Follower Count          0
 Friends Count          0
verified                0
Date                    0
mentions                0
sentiment               0
dtype: int64
0
Unnamed: 0.2             int64
Unnamed: 0.1             int64
Unnamed: 0               int64
Datetime                object
Tweet Id                 int64
Text                    object
Username                object
location                object
reply count              int64
retweet count            int64
like count               int64
language                object
Twitter Access Point    object
Follower Count           int64
 Friends Count           int64
verified                  bool
Date                    object
mentions                object
sentiment               object
dtype: object
       Unnamed: 0.2  Unnamed: 0.1    Unnamed: 0      Tweet Id    reply count  \
count  17445.000000  17445.000000  17445.000000  1.744500e+04   17445.000000
mean    8722.000000   8722.000000   8722.000000  1.185936e+18    1616.132817
std     5036.082059   5036.082059   5036.082059  3.093505e+17    6064.134762
min        0.000000      0.000000      0.000000  1.543473e+10       0.000000
25%     4361.000000   4361.000000   4361.000000  1.024363e+18      66.000000
50%     8722.000000   8722.000000   8722.000000  1.246208e+18     230.000000
75%    13083.000000  13083.000000  13083.000000  1.426316e+18     797.000000
max    17444.000000  17444.000000  17444.000000  1.585841e+18  193966.000000

       retweet count    like count  Follower Count   Friends Count
count   17445.000000  1.744500e+04    1.744500e+04         17445.0
mean     2931.004872  3.192033e+04    1.105545e+08           122.0
std     12463.284181  1.049149e+05    5.784134e+02             0.0
min         0.000000  3.000000e+00    1.105534e+08           122.0
25%        68.000000  1.292000e+03    1.105540e+08           122.0
50%       270.000000  4.704000e+03    1.105545e+08           122.0
75%      1192.000000  1.808500e+04    1.105550e+08           122.0
max    681768.000000  4.781242e+06    1.105555e+08           122.0

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,0,0,0,2022-10-28 03:49:11+00:00,1585841080431321088,the bird is freed,elonmusk,Twitter HQ,57663,128631,730472,en,Twitter for iPhone,110553384,122,True,2022-10-28,_,"['positive', 0.70848316]"
1,1,1,1,2022-10-28 01:50:49+00:00,1585811291851018241,Falcon rockets to orbit as seen from LA https:...,elonmusk,Twitter HQ,6857,16499,189436,en,Twitter for iPhone,110553384,122,True,2022-10-28,_,"['neutral', 0.90077394]"
2,2,2,2,2022-10-27 21:45:47+00:00,1585749627365515266,@Gfilche @Twitter ðŸ¤£,elonmusk,Twitter HQ,632,246,7052,und,Twitter for iPhone,110553384,122,True,2022-10-27,"Gfilche,Twitter","['neutral', 0.5714027]"
3,3,3,3,2022-10-27 16:17:39+00:00,1585667048020901888,@PeterSchiff ðŸ¤£ thanks,elonmusk,Twitter HQ,670,420,17577,en,Twitter for iPhone,110553384,122,True,2022-10-27,PeterSchiff,"['positive', 0.78971434]"
4,4,4,4,2022-10-27 13:19:25+00:00,1585622194696044544,@ZubyMusic Absolutely,elonmusk,Twitter HQ,1281,1152,42896,en,Twitter for iPhone,110553384,122,True,2022-10-27,ZubyMusic,"['neutral', 0.5287457]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17440,17440,17440,17440,2011-12-03 08:22:07+00:00,142881284019060736,That was a total non sequitur btw,elonmusk,Twitter HQ,27,9,51,en,Twitter for iPhone,110555351,122,True,2011-12-03,_,"['negative', 0.5067324]"
17441,17441,17441,17441,2011-12-03 08:20:28+00:00,142880871391838208,"Great Voltaire quote, arguably better than Twa...",elonmusk,Twitter HQ,23,29,53,en,Twitter for iPhone,110555351,122,True,2011-12-03,_,"['positive', 0.55860823]"
17442,17442,17442,17442,2011-12-01 10:29:04+00:00,142188458125963264,I made the volume on the Model S http://t.co/w...,elonmusk,Twitter HQ,29,13,75,en,Twitter Web Client,110555351,122,True,2011-12-01,_,"['neutral', 0.6384011]"
17443,17443,17443,17443,2011-12-01 09:55:11+00:00,142179928203460608,Went to Iceland on Sat to ride bumper cars on ...,elonmusk,Twitter HQ,33,22,188,en,Twitter Web Client,110555351,122,True,2011-12-01,_,"['positive', 0.9733198]"
17444,17444,17444,17444,2010-06-04 18:31:57+00:00,15434727182,"Please ignore prior tweets, as that was someon...",elonmusk,Twitter HQ,988,558,6023,en,Twitter Web Client,110555351,122,True,2010-06-04,_,"['neutral', 0.5472165]"

In [9]:
df.dropna(inplace=True)

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df['Tweet Id'] = imputer.fit_transform(df[['Tweet Id']])

df['Tweet Id'] = df['Tweet Id'].astype('int')

df.drop_duplicates(inplace=True)
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,0,0,0,2022-10-28 03:49:11+00:00,1585841080431321088,the bird is freed,elonmusk,Twitter HQ,57663,128631,730472,en,Twitter for iPhone,110553384,122,True,2022-10-28,_,"['positive', 0.70848316]"
1,1,1,1,2022-10-28 01:50:49+00:00,1585811291851018240,Falcon rockets to orbit as seen from LA https:...,elonmusk,Twitter HQ,6857,16499,189436,en,Twitter for iPhone,110553384,122,True,2022-10-28,_,"['neutral', 0.90077394]"
2,2,2,2,2022-10-27 21:45:47+00:00,1585749627365515264,@Gfilche @Twitter ðŸ¤£,elonmusk,Twitter HQ,632,246,7052,und,Twitter for iPhone,110553384,122,True,2022-10-27,"Gfilche,Twitter","['neutral', 0.5714027]"
3,3,3,3,2022-10-27 16:17:39+00:00,1585667048020901888,@PeterSchiff ðŸ¤£ thanks,elonmusk,Twitter HQ,670,420,17577,en,Twitter for iPhone,110553384,122,True,2022-10-27,PeterSchiff,"['positive', 0.78971434]"
4,4,4,4,2022-10-27 13:19:25+00:00,1585622194696044544,@ZubyMusic Absolutely,elonmusk,Twitter HQ,1281,1152,42896,en,Twitter for iPhone,110553384,122,True,2022-10-27,ZubyMusic,"['neutral', 0.5287457]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17440,17440,17440,17440,2011-12-03 08:22:07+00:00,142881284019060736,That was a total non sequitur btw,elonmusk,Twitter HQ,27,9,51,en,Twitter for iPhone,110555351,122,True,2011-12-03,_,"['negative', 0.5067324]"
17441,17441,17441,17441,2011-12-03 08:20:28+00:00,142880871391838208,"Great Voltaire quote, arguably better than Twa...",elonmusk,Twitter HQ,23,29,53,en,Twitter for iPhone,110555351,122,True,2011-12-03,_,"['positive', 0.55860823]"
17442,17442,17442,17442,2011-12-01 10:29:04+00:00,142188458125963264,I made the volume on the Model S http://t.co/w...,elonmusk,Twitter HQ,29,13,75,en,Twitter Web Client,110555351,122,True,2011-12-01,_,"['neutral', 0.6384011]"
17443,17443,17443,17443,2011-12-01 09:55:11+00:00,142179928203460608,Went to Iceland on Sat to ride bumper cars on ...,elonmusk,Twitter HQ,33,22,188,en,Twitter Web Client,110555351,122,True,2011-12-01,_,"['positive', 0.9733198]"
17444,17444,17444,17444,2010-06-04 18:31:57+00:00,15434727182,"Please ignore prior tweets, as that was someon...",elonmusk,Twitter HQ,988,558,6023,en,Twitter Web Client,110555351,122,True,2010-06-04,_,"['neutral', 0.5472165]"